# Ignore all files and sub-directories in this directory
/*

# Include .gitignore (this) file
!/.gitignore

# Include the theme directory used for this project
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/fictional-university-theme/
